h1 {
    color: #00B5CC;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: #B2DF28;
    font-family: Creepster;
    font-size: 48px;
    font-weight: 400;
    line-height: 48px;
    letter-spacing: -0.02em;
    text-align: left;
    padding-inline-end: 12px;
}

.empty {

    background-color: var(--color-core-foreground);
    border: 1px solid var(--color-neutral-border-high, #5D5D5D);
    border-radius: var(--measure-radius-s);
    height: min(512px, 50vh);
    display: grid;
    justify-items: center;
    justify-content: center;
    align-items: center;
    align-content: center;
    padding-block: 64px;

    h2 {

        font-family: Poppins;
        font-size: 24px;
        font-weight: 700;
        line-height: 24px;
        letter-spacing: -0.02em;
        text-align: center;
        color: var(--color-core-content, #FAFAFA);

    }

    p {
        font-family: Poppins;
        font-size: 18px;
        font-weight: 400;
        line-height: 27px;
        text-align: center;
        color: var(--color-core-content-low, #A4A4A4);


    }

    button {
        display: grid;
        align-items: center;
        justify-items: center;
        grid-auto-flow: column;
        gap: 1%;
        border: 1px solid var(--color-core-border, #3D3D3D);
        height: 40px;
        text-decoration: none;

        border-start-start-radius: var(--measure-radius-s);
        border-end-start-radius: var(--measure-radius-s);
        border-end-end-radius: var(--measure-radius-s);
        border-start-end-radius: var(--measure-radius-s);

        background: var(--color-neutral-surface, #FFFFFF);
        color: var(--color-neutral-content-onSource, #0A0A0A);

        font-family: Poppins;
        font-size: 14px;
        font-weight: 600;
        line-height: 14px;
        text-align: center;
        padding-inline: 16px;

    }


}