.favorite {
    &-badge {
        display: flex;
        content: ' ';
        width: 48px;
        height: 48px;
        position: absolute;
        right: 0;
        align-items: center;

        img {
            filter: invert(.5);
            width: 20px;
            height: 20px;
        }
    }

    background: var(--color-neutral-surface, #FFFFFF);
    border-start-end-radius: 29px;
    border-bottom-left-radius: var(--measure-radius-circle);

    img {
        filter: none;
    }
}


.card {
    background-color: var(--color-core-foreground);
    border: 1px solid var(--color-core-border);
    border-radius: var(--measure-radius-s);
    width: 224px;
    position: relative;


    img {
        width: 100%;
        object-fit: fill;
        border-radius: var(--measure-radius-s) var(--measure-radius-s) 0 0;
    }

    p {
        color: var(--color-core-content-low, #A4A4A4);
        padding-inline: var(--measure-spacing-s);
        font-family: Poppins;
        font-size: 16px;
        font-weight: 400;
        line-height: 22.4px;
        text-align: left;

    }

    h2 {
        font-family: Creepster;
        font-size: 24px;
        font-weight: 400;
        line-height: 24px;
        letter-spacing: -0.02em;
        text-align: left;
        color: var(--color-core-content, #FAFAFA);
        padding-inline: var(--measure-spacing-s);
        display: -webkit-box;
        -webkit-line-clamp: 1;
        overflow: hidden;
        -webkit-box-orient: vertical;
    }
}